*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
apk-output/
screenshots-output/
screenshots-output-v2/
screenshots-output*/
*.jks
*.keystore
